<%- include('../../includes/head.ejs') %>

<body>

<%- include('../../includes/header.ejs') %>

<h1 style="text-align: center; margin-top: 150px;">A confirmation code is sent to your mail!!!</h1>


</body>
</html>