<%- include('includes/head.ejs') %>

<body>

<%- include('includes/header.ejs') %>
<%- include('includes/navigation.ejs') %>




<h1 style="text-align: center; margin-top: 150px;">There is No Such URL!!!</h1>
<h2 style="text-align: center; margin-top: 150px;"><a href="/">Return to Home</a> </h2>

</body>
</html>